<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LifeBook - 生活之书</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/admin.css">

    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="/static/assets/js/polyfill/rem.min.js"></script>
    <script src="/static/assets/js/polyfill/respond.min.js"></script>
    <script src="/static/assets/js/amazeui.legacy.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src="/static/assets/js/app.js"></script>

    <script src="/static/common/js/utils.js"></script>
    <!-- datePicker -->
    <script src="/static/datetimepicker/js/amazeui.datetimepicker.js"></script>
    <link rel="stylesheet" href="/static/datetimepicker/css/amazeui.datetimepicker.css"/>
    <script type="text/javascript" src="/static/ueditor/utf8-jsp/ueditor.config.js"></script>
    <script type="text/javascript" src="/static/ueditor/utf8-jsp/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/utf8-jsp/lang/zh-cn/zh-cn.js"></script>
</head>
<style>
    .am-pagination>li>a, .am-pagination>li>span {
        cursor: pointer;
    }
</style>
