<style>
    #rightFrame{
        position:fixed;
        width:85%;
    }
</style>
<#include "/admin/top.html">
<#include "/admin/left.html">
<div>
<iframe src="/Report/homePage" name="rightFrame" frameborder="0" width='100%' height='100%' id="rightFrame" ></iframe>
</div>
<#include "/admin/foot.html">
<!--<frameset cols="14%,86%" frameborder="0" border="0" framespacing="0">
    <frame src="left.jsp" name="leftFrame" noresize="noresize" id="leftFrame" />
    <frame src="/Report/homePage" name="rightFrame" noresize="noresize" id="rightFrame" />
</frameset>
<noframes><body></body></noframes>-->
</html>