<script>
    function changeFrameHeight(){
        var ifm= document.getElementById("rightFrame");
        var topHeight = $("#topbar-collapse").height();
        ifm.height=document.documentElement.clientHeight-topHeight;
        var leftWidth = $(".admin-sidebar").width();
        ifm.width=document.documentElement.clientWidth-leftWidth-1;
        if(ifm.width < 890){
            ifm.width = 890;
        }
    }

    window.onresize=function(){
        changeFrameHeight();
    }
    $(function(){changeFrameHeight();});
</script>
<#include "/admin/top.html">
<#include "/admin/left.html">
<iframe src="/Report/homePage" name="rightFrame" frameborder="0" noresize="noresize" id="rightFrame" ></iframe>
<#include "/admin/foot.html">
<!--<frameset cols="14%,86%" frameborder="0" border="0" framespacing="0">
    <frame src="left.jsp" name="leftFrame" noresize="noresize" id="leftFrame" />
    <frame src="/Report/homePage" name="rightFrame" noresize="noresize" id="rightFrame" />
</frameset>
<noframes><body></body></noframes>-->
</html>