<#include "/admin/head.html">
<script>
    $(function () {
        $('#billDate').datetimepicker({
            showSecond: true,
            showMillisec: true,
            timeFormat: 'hh:mm:ss:l'
        });
    });

</script>
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">账单管理</strong> /
            <small>添加</small>
        </div>
    </div>

    <div class="am-g">
        <form class="am-form" action="save" >
            <input type="hidden" name="id" value="" class="am-input-sm">
            <div class="am-g am-margin-top">
                <div class="am-u-sm-2 am-text-right">
                    账单名
                </div>
                <div class="am-u-sm-10">
                    <input type="text" name="name" value="流水账" class="am-input-sm">
                </div>
                <!--<div class="am-u-sm-6">*必填，不可重复</div>-->
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-2 am-text-right">
                    账单类型
                </div>
                <div class="am-u-sm-10">
                    <div class="am-btn-group" data-am-button>
                        <select name="billTypeId">
                            <option value="">请选择&nbsp;&nbsp;&nbsp;</option>
                            <option value="1">食物</option>
                            <option value="2">小吃</option>
                            <option value="3">水果</option>
                            <option value="4">早餐</option>
                            <option value="5">晚餐</option>
                        </select>
                        <!--<label class="am-btn am-btn-default am-btn-xs">
                            <input type="radio" name="options" value="0" id="option1"> 出账
                        </label>
                        <label class="am-btn am-btn-default am-btn-xs">
                            <input type="radio" name="options" value="1" id="option2"> 入账
                        </label>-->
                    </div>
                </div>
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-2 am-text-right">
                    金额
                </div>
                <div class="am-u-sm-10">
                    <input type="text" name="money" class="am-input-sm">
                </div>
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-2 am-text-right">
                    账单时间
                </div>
                <div class="am-u-sm-10">
                        <input type="text" name="billDate" />
                        <p><input type="text" class="am-form-field" placeholder="日历组件" data-am-datepicker="{theme: 'success'}" readonly/></p>
                </div>
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-2 am-text-right">
                    创建人
                </div>
                <div class="am-u-sm-10">
                    <input type="text" name="creatorId" value="1" class="am-input-sm">
                </div>
            </div>

            <div class="am-g am-margin-top-sm">
                <div class="am-u-sm-2 am-text-right">
                    描述
                </div>
                <div class="am-u-sm-10">
                    <textarea rows="10" name="description"></textarea>
                </div>
            </div>
            <div class="am-margin">
                <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                <!--     <button type="button" class="am-btn am-btn-primary am-btn-xs">返回列表</button>-->
            </div>
        </form>
    </div>


</div>