<#include "/admin/head.html">

<script type="text/javascript">
    var ue = UE.getEditor('content');
    function initPage(){
        $('#createDate').datetimepicker({
            minView: 'month',
            format: 'yyyy-mm-dd'
        });
    }
</script>
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">公告管理</strong> /
            <small>添加</small>
        </div>
    </div>

    <div class="am-g">
        <form class="am-form" action="../update" >
            <input type="hidden" name="id" value="" class="am-input-sm">
            <div class="am-g am-margin-top">
                <div class="am-u-sm-2 am-text-right">
                    公告名称
                </div>
                <div class="am-u-sm-10">
                    <input type="text" name="name" value="" class="am-input-sm">
                </div>
                <!--<div class="am-u-sm-6">*必填，不可重复</div>-->
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-2 am-text-right">
                    内容
                </div>
                <div class="am-u-sm-10">
                    <div class="am-btn-group" data-am-button>
                        <textarea id="content" rows="15" name="content"></textarea>
                    </div>
                </div>
            </div>
            <div class="am-g am-margin-top-sm">
                <div class="am-u-sm-2 am-text-right">
                    日期
                </div>
                <div class="am-u-sm-10">
                    <input type="text" id="createDate" name="createDate" class="am-form-field" readonly/>
                </div>
            </div>
            <div class="am-margin">
                <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                <!--     <button type="button" class="am-btn am-btn-primary am-btn-xs">返回列表</button>-->
            </div>
        </form>
    </div>


</div>