<#include "/admin/head.html">
<script src="/static/admin/planMgr/js/list.js"></script>
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">资金规划管理</strong> /
            <small>列表</small>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-md-6 am-cf">
            <div class="am-fl am-cf">
                <div class="am-btn-toolbar am-fl">
                    <div class="am-btn-group am-btn-group-xs">
                        <button type="button" onclick="add()" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增
                        </button>
                        <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <form id="searchForm" action="list" method="post">
            <div class="am-u-md-3 am-cf">
                <div class="am-fr">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" id="searchContent" name="searchContent" class="am-form-field" value="${parms.searchContent!}" placeholder="账单名/描述">
                        <span class="am-input-group-btn">
                          <button class="am-btn am-btn-default" type="submit">搜索</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-check"><input type="checkbox"/></th>
                        <th class="table-id">序号</th>
                        <th class="table-title">名称</th>
                        <th class="table-type">日期</th>
                        <th class="table-set">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <#list page.items as plan>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>${plan_index+1}</td>
                            <td><a href="#">${plan.name}</a></td>
                            <td>${plan.createDate}</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" onclick="edit(${plan.id})" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                class="am-icon-pencil-square-o"></span> 编辑
                                        </button>
                                        <button type="button" onclick="del(${plan.id})" class="am-btn am-btn-default am-btn-xs am-text-danger"><span
                                                class="am-icon-trash-o"></span> 删除
                                        </button>
                                        <button type="button" onclick="check(${plan.id})" class="am-btn am-btn-default am-btn-xs am-text-success"><span
                                                class="am-icon-trash-o"></span> 查看
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </#list>
                    </tbody>
                </table>
                <#include "/admin/basePageContent/pagination.html">
                <hr/>
                <p>注：.....</p>
            </form>
        </div>

    </div>
</div>
